.apply
  %img{src: "/logo.png", width: "300px"}
  %h1.centered Yee-haw!
  %p Thanks for applying to the engineering team at Bright Funds! We'll be in touch!
  %ul
    %li
      %img{src: "/star.png"}
    %li
      %img{src: "/dance.png"}
    %li
      %img{src: "/thumbsup.png"}