%h1 Engineering Application
%p Please fill out the fields below to apply for our open engineering positions! But beware, something on this page might be <strong>broken</strong>. Perhaps you can fix it? Check out the <a href="https://github.com/danielwestendorf/engineering-app" target="_blank">full source code</a> to see what's going on.

%script{src: "https://www.google.com/recaptcha/api.js"}

%form{name: "application", method: "POST", action: "/apply", target: "_blank"}
  %p
    %label{for: "name"} Name
    %br
    %input#name{type: "text", name: "name", required: true}
  %p
    %label{for: "email"} Email
    %br
    %input#email{type: "email", required: true, name: "email"}
  %p
    %label{for: "github-profile-url"} GitHub Profile URL:
    %br
    %input#github-profile-url{type: "text", name: "github_profile_url", required: true, pattern: "https?://(www\.)?github\.com/.+"}
  %p
    %label{for: "cover-letter"} Why do you want to work with us?
    %br
    %textarea#cover-letter{name: "cover_letter", rows: 15, required: true}
  %p
    .g-recaptcha{"data-sitekey" => recaptcha_sitekey}
  %p
    %input{type: "submit", value: "Submit"}