body, html {
  width: 100%;
  height: 100%;
  background: lightgreen;
  font-family: Helvetica, Arial, sans-serif;
}

.content {
  margin: 20px;
  background: white;
  border: 1px solid lightgrey;
  padding: 10px;
}

input[type="text"], input[type="email"], textarea {
  width: calc(100% - 10px);
  border: 1px solid darkgreen;
  padding: 3px 5px;
  outline: none;
}